.table_theme_dark {
    display: flex;
    align-items: flex-start;
    align-content: space-between;
    justify-content: space-between;
    overflow: auto;
    flex-flow: row wrap;
    width: 1100px;
    margin-bottom: 0px;
    z-index: 3;
  }