.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  background-color: #f2f2f2;
  position: relative;
  margin: 0;
  padding: 0;
  z-index: 0;
  /* выше установили ограничения для секции */
}

.logo_place_header {
  position: absolute;
  left: 64px;
  top: 30px;
  height: 32px;
  width: 183px;
}

.header__title {
  margin: 0;
  padding: 0;
  display: flex;
  margin-left: 64px;
  max-width: 730px;
  width: 100%;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 102px;
  line-height: 96px;
  font-weight: bold;
}

.header__subtitle {
  margin: 0;
  padding: 0;
  position: absolute;
  margin-left: 64px;
  margin-bottom: 30px;
  width: 388px;
  align-self: flex-end;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustration {
  width: 765px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: -1;
}
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0px;
  z-index: -2;
} 

.description {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.two-columns {
  display: flex;
  width: 80%;
  margin-top: 100px;
  margin-bottom: 100px;
  justify-content: space-between;
}

.two-columns__brief {
  color: #2f80ed;
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
  width: 175px;
  align-self: stretch;
  display: flex;
  padding: 0px;
  margin: 0px;
}
.two-columns__main-text {
  display: flex;
  width: 80%;
  min-width: 784px;
  flex-wrap: wrap;
}
.two-columns__paragraph {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
}

.two-columns__span-accent {
  font-size: 24px;
  line-height: 34px;
  font-weight: bold;
}

.two-columns_middle {
  margin: 0;
  padding: 0;
  padding-bottom: 30px;
  padding-top: 39px;
}
.digits {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  
}
.section-title {
  margin: 0px;
  padding: 0px;
  margin-top: 100px;
  width: 60%;
  display: flex;
  justify-content: center;
  font-size: 60px;
  line-height: 1.15;
  font-weight: bold;
}

.section-subtitle {
  margin: 0px;
  padding: 0px;
  margin-top: 20px;
  width: 60%;
  display: flex;
  justify-content: center;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
}

.table {
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: flex-start;
  align-content: space-between;
  justify-content: space-between;
  flex-flow: row wrap;
  margin-left: auto;
  margin-right: auto;
  width: 1100px;
  margin-bottom: 100px;
}

.table__cell {
  margin: 0px;
  padding: 0px;
  width: 250px;
  align-self: stretch;
  margin-top: 60px;
}

.table__heading {
  margin: 0px;
  padding: 0px;
  font-size: 24px;
  line-height: 1.15;
  font-weight: bold;
}

.table__text {
  margin: 0px;
  padding: 0px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
  margin-top: 20px;
}

.feynman {
  margin: 0;
  min-height: 890px;
  background-image: url("../images/feynman.png");
  background-repeat: no-repeat;
  background-position: bottom left;
  background-color: #f2f2f2;
  position: relative;
}

.feynman__title {
  padding: 0px;
  font-size: 120px;
  line-height: 1.15;
  font-weight: bold;
  margin: auto;
  padding-top: 100px;
  max-width: 648px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.feynman__subtitle {
  margin: 0px;
  padding: 0px;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
  text-align: center;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
  color: #2f80ed;
  z-index: 3;
  text-decoration: none;
}

.kaufman {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #1f1f1f;
  overflow: hidden;
  position: relative;
  padding-bottom: 90px;
}

.section-title_theme_dark {
  margin-top: 90px;
  z-index: 2;
  color: white;
}

.section-subtitle_theme_dark {
  z-index: 2;
  color: white;
}

.table_theme_dark {
  display: flex;
  align-items: flex-start;
  align-content: space-between;
  justify-content: space-between;
  overflow: auto;
  flex-flow: row wrap;
  margin-left: auto;
  margin-right: auto;
  width: 1100px;
  margin-bottom: 90px;
  z-index: 2;
}

.table__cell_theme_dark {
  width: 200px;
  align-self: stretch;
  margin-top: 80px;
  z-index: 2;
}

.table__heading_theme_dark{
  z-index: 2;
  color: white;
}

.table__text_theme_dark{
  z-index: 2;
  color: white;
}

.kaufman__triangle {
  background-image: url(../images/kaufman-triangle.svg);
  position: absolute;
  right: -210px;
  top: 0px;
  width: 877px;
  height: 877px;
  z-index: 1;
  object-fit: cover;
}

.footer {
  margin: 0;
  background-color: #1f1f1f;
  color: white;
  min-height: 350px;
  position: relative;
  display: flex;
  justify-content: center;
}

.footer__columns {
  width: 90%;
  margin-top: 60px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__column_content_copyright {
  margin: 0px;
  padding: 0px;
  flex-basis: 711px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo_place_footer {
  width: 183px;
  height: 35px;
}

.footer__author {
  padding: 0px;
  margin: 0px;
  margin-bottom: 18px;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
}

.footer__column_content_info {
  margin: 0px;
  padding: 0px;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

}

.footer__column-heading {
  margin: 0px;
  padding: 0px;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
}

.footer__column-links {
  padding: 0px;
  margin: 0px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.footer__social-link{
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  color: white;
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
}

.footer__column_content_social {
  margin: 0px;
  padding: 0px;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.footer__social-icon {
  margin: 0px;
  padding: 0px;
  margin-right: 10px;
  width: 16px;
  height: 16px;
}
